.main {
    margin-bottom: 0px;
}

.main_inner > h1 {
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 0;
}

.navbar {
    width: 800px;
}

.main_inner {
    display: flex;
    align-items: center;
}

.main_inner > img {
    width: 3%;
    height: 3%;
    border-radius: 50%;
}
