* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0.2% 1%;
    min-width: 100%;
}

/* Top Container */
.topcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    padding: 0 0;
    justify-content: space-between;
}

/* Left Container (Bio & About) */
.leftcontainer {
    flex: 1;
    min-width: 300px;
    max-width: 60%;
    padding: 20px;
    font-size: 1rem;
}

h2 {
    margin-top: 40px;
    margin-bottom: 5px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

p {
    margin-left: 3.5%;
}

ul {
    padding-left: 5%;
}

/* Right Container (Projects) */
.rightcontainer {
    flex: 1;
    min-width: 280px;
    max-width: 40%;
}

.rightcontainer > h2 {
    margin-bottom: 4%;
}

/* Project Cards */
.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .projectLink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ccc;
    height: 10rem;
    border-radius: 10px;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  
  .projectLink:hover {
    background-color: #dbeafe;
    color: #1d4ed8;
  }
  

/* Bottom Container (Tech Stack) */
.bottomcontainer {
    border-top: 1px solid grey;
    flex-grow: 1;
}

.bottomcontainer > h2 {
    margin-top: 1%;
}

/* Tech Stack */
.techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 1%;
}

.techItem {
    background-color: #313131;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    border-radius: 6px;
}

/* Footer Links */
.mylinks {
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.mylinks ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.mylinks ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #f6f4f1;
}

/* Media Queries for Mobile & Tablets */
@media screen and (max-width: 1024px) {
    .topcontainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .leftcontainer {
        max-width: 100%;
    }

    .rightcontainer {
        max-width: 100%;
    }

    .techStack {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding: 10px;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 12px;
    }

    .mylinks {
        width: 90%;
    }
}
