.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 50px;
}

.passwordBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


input {
    padding: 10px;
    width: 250px;
    border: 2px solid #21d3ff;
    background: black;
    color: #f6f4f1;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    font-family: 'VT323', monospace;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'VT323', monospace;
}

button:hover {
    background-color: #00ff00;
    color: black;
}


.studyMaterials {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.studyMaterials h2 {
    text-align: center;
}

.semester {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul ul {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
