* {
  font-family: Fira Code;
  color: #f6f4f1;
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: #000;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #cdd6f4;
}

hr {
  border: none;
  height: 1px;
  background-color: #646464;
}